In [96]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from sklearn.tree import DecisionTreeClassifier

In [97]:
columns = ['Survived', 'PassengerId', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Fare']
traindf = pd.read_csv('train.csv', usecols=columns).set_index('PassengerId',)
testdf = pd.read_csv('test.csv', usecols=columns[1:]).set_index('PassengerId')
df = pd.concat([traindf, testdf], axis=0, sort=False)

df.Sex.replace({'male':1, 'female':0}, inplace=True)

In [98]:
# df[df.isnull().any(axis=1)]
df.head()

,Survived,Pclass,Name,Sex,SibSp,Parch,Fare
PassengerId,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",1,1,0,7.2500
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,0,71.2833
3,1.0,3,"Heikkinen, Miss. Laina",0,0,0,7.9250
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,0,53.1000
5,0.0,3,"Allen, Mr. William Henry",1,0,0,8.0500

In [99]:
df.Survived.value_counts()

0.0    549
1.0    342
Name: Survived, dtype: int64

In [100]:
df = df.drop(['Name'],axis=1)

In [101]:
X = df.loc[traindf.index].drop(['Survived'],axis=1)
y = df.Survived.loc[traindf.index]

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state=42)

In [103]:
classifier = DummyClassifier(strategy='most_frequent')
classifier.fit(X_train,y_train)

DummyClassifier(strategy='most_frequent')

In [104]:
y_pred = classifier.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.59      1.00      0.74       157
         1.0       0.00      0.00      0.00       111

    accuracy                           0.59       268
   macro avg       0.29      0.50      0.37       268
weighted avg       0.34      0.59      0.43       268

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [105]:
y

PassengerId
1      0.0
2      1.0
3      1.0
4      1.0
5      0.0
      ...
887    0.0
888    1.0
889    0.0
890    1.0
891    0.0
Name: Survived, Length: 891, dtype: float64